.mainPostview{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8FOAv7mFEc48_pOUY6pemORdOhTezfST6Rg&usqp=CAU');
    background-size: cover;
    border-radius: 10px;
}
.postviewPage{
    margin-top: 20px;
    width: 100%;
}
.postform{
    margin: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.postbtn{
    width: 100px;
}